#!/usr/bin/make -f

SRCDIR=$(CURDIR)
include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	+pg_buildext build-9.4 $(CURDIR) build-%v "$(CFLAGS)"

override_dh_auto_clean:
	+pg_buildext clean-9.4 $(CURDIR) build-%v

override_dh_auto_test:
	# nothing to do here, see debian/tests/* instead

override_dh_auto_configure:
	./autogen.sh
	+pg_buildext configure-9.4 $(CURDIR) build-%v --enable-bdr=yes

override_dh_auto_install:
	+pg_buildext install-9.4 $(CURDIR) build-%v postgresql-bdr-%v-bdr-plugin

%:
	dh $@

